
html { 
    font-family: sans-serif; 
    background: #eee; 
    padding: 0 ; 
}

body { 
    margin: 0 ; 
    background: white; 
}

h1 { 
    color: #377ba8; 
    margin: 1rem; 
}

a { 
    color: #377ba8; 
}

hr { 
    border: none; 
    border-top: 1px solid lightgray; 
}

nav {
    top: 0 ;
    width: 100% ;
    margin: 0 ;
    border : 0 ;
    padding: 0 ;
}

nav h1 {
    width: 100% ;
 }

nav a {
    text-decoration: none ;
}


.losses-chart {
    flex-grow: 1 ;
}
.losses-image {
    padding: 0 ;
    border: 0 ;
    margin: 0 ;
    width: 400px ;
    height: 270px ;
}
.epoch-list {
    padding: 0 ;
    border: 0 ;
    margin: 0 ;
    float: left ;
    width: 9rem ;
    height: 100% ;
    overflow-y: scroll ;
    flex-grow: 0 ;
}
.logs {
    padding: 10px ;
    border: 0 ;
    margin: 0 ;
    flex-grow: 20 ;
    height: 100% ;
    overflow-y: scroll ;
    font-size: 9pt ;
}

.main-content {
    bottom: 0 ;
    top: 120px ;
    right: 0 ;
    left: 0 ;
    margin: 0 ;
    padding: 0 ;
    overflow: hidden;
    position: absolute ;
    display: flex;
    flex-direction: row ;
}
