{% extends 'base.html' %}

{% block header %}
{{ model['model_name'] }} / {{ model['data_name'] }} | Runs 
{% endblock %}

{% block content %}
    <article class="post">
      <header>
        <div>
          <ul>
          {% for run in model.runs() %}
          <li><a href="{{ run['time'] }}/">{{ run['time'] }}</a>
            <button class="del-button"
              data-href="{{ run['time'] }}/"
              data-label="{{ run['time'] }}"
            > &#x1f5d1; 
            </button>
          </li>
          {% endfor %}
        </ul>
        </div>
      </header>
    </article>

    
  <script>
      window.addEventListener( "load", function(e) {
          var xhr = new XMLHttpRequest() 
          xhr.addEventListener("load", function(e) {
            location.reload() 
          }) 

          var btns = document.querySelectorAll( ".del-button" ) 
          for( var i=0 ; i<btns.length ; i++ ) {

            btns[i].addEventListener( "click", function(e) {
                if( confirm( "Delete this run\n" + this.dataset.label ) ) {
                  xhr.open("DELETE", this.dataset.href )
                  xhr.send()
                }
              }.bind( btns[i] ) 
            ) 

          } // end for
      })
    </script>    
    
{% endblock %} 

