{% extends 'base.html' %}

{% block title %}{{model_name}} | {{ data_name }} | {{ run.time }} {% endblock %}

{% block header %}
  <a href="..">{{model_name}} / {{ data_name }}</a> | {{ run.time }} 
{% endblock %}

{% block content %}
  <div class='main-content'>
      <div class='logs'>
          Logs<br>
          {% for txt in run.get_model_specs() %}
            <br>{{ txt }}
          {% endfor %}
      </div>
      <div class='losses-chart'>
      Losses<br>
      <img class='losses-image' width='100%' height='100%' src='{{ run.get_base64_losses() }}'>
      <img class='movie' width='100%' src='movie' width='50%' >
    </div>
      <div class='epoch-list'>
          Epochs
          <ul>
          {% for epoch in run.epochs() %}
            <li width='100%'><a href="{{ epoch['name'] }}">{{ epoch['name'] }}</a></li>
          {% endfor %}    
          </ul>
      </div>
  </div>


{% endblock %} 